<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <img src="/assets/logos/cril.png" alt="Logo CRIL" height="37px">
        <img src="/assets/logos/cnrs.png" alt="Logo CNRS" height="37px">
        <img src="/assets/logos/artois.png" alt="Logo Université d'Artois" height="37px">
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <p>This is free software by Artois University and CNRS under the GNU LGPL license developed at CRIL.</p>
      </div>
    </div>

  </div>

</footer>

