---
layout: default
---

<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h3 class="tootatis-software-h3">{{ page.name_description | escape }}</h3>
    {% if page.tutorial %}
    <a class="btn btn-primary tootatis-software-tutorial-btn" href="{{ page.tutorial }}"><i
            class="fas fa-graduation-cap"></i> Tutorial</a>
    {% endif %}
</header>

<hr class="tootatis-header-separator">

<div class="row justify-content-between">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {{page.description}}
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                {% for s in page.sources %}
                <li class="nav-item">
                  <a class="nav-link active" href="#">{{s.language}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% for s in page.sources %}
            <div class="card-body">
              {% for d in s.dependencies %}  
                {{d.code}}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
                    
    </div>
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-header">
                Sources
            </div>
            <ul class="list-group list-group-flush tootatis-list">
                {% for s in page.sources %}
                <li class="list-group-item d-flex">
                    <img class="card-img-left" alt="{{s.language}}" src="/assets/images/{{s.icon}}.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{s.language}}</h5>
                        <a href="https://github.com/crillab/{{s.github_project}}/" class="card-link"><i
                                class="fab fa-github fa-fw"></i>Github</a>
                        <a href="https://crillab.github.io/{{s.github_project}}/" class="card-link"><i
                                class="fas fa-book fa-fw"></i>Documentation</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if page.implementations%}
        <div class="card mb-3">
            <div class="card-header">
                Implementation
            </div>
            <ul class="list-group list-group-flush tootatis-list">
                {% for i in page.implementations %}
                <li class="list-group-item">
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <a href="https://github.com/crillab/{{i.github_project}}" class="card-link"><i
                                class="fab fa-github fa-fw"></i>Github </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        {% if page.binaries%}
        <div class="card">
            <div class="card-header">
                Releases
            </div>
            <ul class="list-group list-group-flush tootatis-list">
                <div class="card-body">
                    {% for b in page.binaries %}
                    <a href="{{b.link}}" class="card-link"><i class="fab fa-{{b.icon}} fa-fw"></i>{{b.system}}</a>
                    {% endfor %}
                </div>

            </ul>
        </div>
        {% endif %}
    </div>
</div>